@import '/css/_variable.css';
@import '/css/_scrollbar.css';
@import '/css/_table.css';
@import '/css/_fonts.css';
@import '/css/_loaders.css';
@import '/css/_buttons.css';
@import '/css/_streaming.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.no-ptr {
    opacity: 0.6;
    pointer-events: none;
}


* {
    font-family: 'Inter Regular';
}


.ql-editor {
    background: transparent;
    overflow: hidden;
    border: none !important;
    font-size: 20px;
    position: unset;
}
.ql-container.ql-snow {
    position: unset;
    border: none !important;
}

.ql-toolbar{
    position: fixed;
    display: none;
    background: #FFFFFF;
}

.ql-editor::before {
    font-size: 20px;
    /* Change this to your desired font size */
    /* Optional: Change placeholder text color */
}


.html_content_container{
    width: 100%;
    display: grid;
    overflow: hidden;
    *{
         overflow-wrap: break-word;
         overflow: hidden;
         display: block;
    }
}